# OS & Editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Logs & cache
*.log
.phpunit.result.cache
/.phpunit.cache
.phpactor.json

# Environment files
.env
.env.backup
.env.production
auth.json

# Dependency directories
/vendor
/node_modules

# Laravel build & hot reload
/public/build
/public/hot
/public/storage

# Storage
/storage/*.key
/storage/pail

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# Node / NPM
npm-debug.log
yarn-error.log
